/* ---------------------------------------------------------- */
/* VARIABLES */
/* ---------------------------------------------------------- */
$mobilePortrait: 514px;
$mobileLandscape: 580px;
$tablet: 973px;
$laptop: 1000px;
$desktop: 1300px;
$maxContentWidth: 1108px;
$maxPageWidth: 1600px;
$boxShadow: 0 100px 100px rgba(0, 0, 0, 0.15);
$imgBoxShadow: 10px 15px 43px rgba(0, 0, 0, 0.18);
$text_primary: #4d533c;
$text_secondary: #152934;
$text_tertiary: #21384299;
$btnColor: #edb91b;
$screenSpan: min($maxPageWidth - $maxContentWidth, 100vw - $maxContentWidth);
// $btnColor: #edb91b;
.container {
  overflow-x: hidden;
}

/* ---------------------------------------------------------- */
/* MAIN CCONTENT STYLES */
/* ---------------------------------------------------------- */
.hero {
  position: relative;
}

.hero__content-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  @media screen and (min-width: $laptop) {
    & {
      max-width: 1600px;
      max-height: 1000px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.hero__content {
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & div {
    width: 100%;
  }

  @media screen and (min-width: $laptop) {
    & {
      padding: 0 60px;
      max-width: $maxContentWidth;
      margin: auto;
      justify-content: flex-start;
    }
  }
}

.hero__content__title {
  margin-bottom: 30px;
  font-size: 200%;
  max-width: 616px;
  width: 100%;

  @media screen and (min-width: $mobileLandscape) {
    & {
      font-size: 250%;
    }
  }

  @media screen and (min-width: $tablet) {
    & {
      font-size: 375%;
    }
  }

  @media screen and (min-width: $laptop) {
    & {
      font-size: 375%;
      width: 100%;
    }
  }
}
.hero__content__description {
  margin-bottom: 30px;
  font-size: 120%;
  max-width: 616px;
  width: 80%;
}

.hero__content__cta-btn {
  background: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 130%;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.hero__content__cta-btn:focus,
.hero__content__cta-btn:hover {
  text-decoration: underline;
}

.hero__client-logos {
  position: absolute;
  bottom: -11%;
  z-index: 2;
  width: 100%;
  padding-left: 20px;

  .hero__client-logos__container {
    list-style: none;
    padding-left: 0;
    display: flex;
    background-color: #fff;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
    padding: 20px;
    min-width: 100vw;
    overflow-x: scroll;
  }

  .hero__client-logos__img {
    margin-right: 30px;
  }

  @media screen and (min-width: $tablet) {
    .hero__client-logos__container {
      overflow-x: hidden;
    }
  }

  @media screen and (min-width: $laptop) {
    & {
      padding-left: 60px;
      max-width: $maxContentWidth;
      left: 50%;
      transform: translateX(-50%);
      margin: auto;
      bottom: -118px;

      .hero__client-logos__container {
        padding: 60px;
      }
    }
  }
}

.about-us {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px 100px 20px;

  .about-us__founders-msg {
    display: flex;
    justify-content: center;

    .content-card {
      box-shadow: $boxShadow;
      padding: 200px 40px 40px 40px;
      width: 100%;
      align-content: flex-start;
      height: max-content;

      .hero__content__description {
        color: $text_primary;
        font-size: 150%; // Default: 24px
        width: 100%;
      }

      .content-card__footer > div {
        display: flex;
        flex-direction: column;

        .content-card__footer__user-img-container {
          margin-bottom: 20px;

          img {
            border-radius: 50%;
            box-shadow: $imgBoxShadow;
          }
        }

        .content-card__footer__user-details {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .content-card__footer__user-details__user-name {
            color: $text_primary;
            font-size: 137.5%; // Default: 22px
          }

          .content-card__footer__user-details__user-info {
            color: $text_secondary;
            font-size: 100%;
          }
        }
      }

      @media screen and (min-width: $mobilePortrait) {
        & {
          width: 80%;
        }

        .content-card__footer > div {
          flex-direction: row;

          .content-card__footer__user-img-container {
            margin-right: 30px;
            margin-bottom: 0;
          }
        }
      }

      @media screen and (min-width: $mobileLandscape) {
        .about-us__founders-msg {
          display: flex;
          justify-content: flex-end;
        }

        .content-card {
          width: 80%;
        }
      }

      @media screen and (min-width: $tablet) {
        & {
          .about-us__founders-msg {
            display: flex;
            justify-content: flex-end;
            .content-card {
              padding: 250px 40px 40px 40px;
            }
          }
        }
      }
    }

    @media screen and (min-width: $mobilePortrait) {
      & {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .about-us__statement {
    display: flex;
    justify-content: flex-start;
    .content-card {
      padding: 150px 0 40px 0;

      .hero__content__title {
        color: $text_primary;
        font-size: 225%;
      }

      .hero__content__description {
        color: $text_tertiary;
        font-size: 100%;
      }

      .content-card__footer {
        button {
          background: none;
          border: none;
          color: $btnColor;
          font-weight: bolder;
          font-size: 130%;
          cursor: pointer;
        }

        button:hover,
        button:focus {
          text-decoration: underline;
        }
      }

      @media screen and (min-width: $tablet) {
        padding: 250px 0 40px 0;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    & {
      flex-direction: row;
      max-width: $maxContentWidth;
      margin: auto;
    }
  }

  @media screen and (min-width: $laptop) {
    & {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.case-studies {
  .case-studies__header {
    .content-card {
      padding-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;

      .case-studies__header__title {
        color: $text_primary;
        font-size: 225%; // Default: 36px
        margin-bottom: 20px;
      }

      .case-studies__header__description {
        color: $text_tertiary;
        font-size: 100%;
        max-width: 518px;
      }

      @media screen and (min-width: $tablet) {
        & {
          display: flex;
          align-items: center;
          padding-top: 100px;
          max-width: $maxContentWidth;
          margin: auto;
        }

        .case-studies__header__title {
          margin-right: 40px;

          h2 {
            width: 425px;
          }
        }
      }

      @media screen and (min-width: $laptop) {
        & {
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }
  }

  .case-studies__container {
    li {
      list-style: none;

      &:nth-child(odd) {
        .case-studies__study {
          .case-studies__study__details-card {
            display: flex;
            align-self: flex-end;
          }

          .case-studies__study__img {
            display: flex;
            align-self: flex-start;

            .case-studies__study__msgFromClient-card {
              position: absolute;
              right: 30px;
              bottom: -30px;
              margin-left: 10px;
            }
          }
        }
      }

      &:nth-child(even) {
        .case-studies__study {
          .case-studies__study__details-card {
            display: flex;
            align-self: flex-start;
          }

          .case-studies__study__img {
            display: flex;
            align-self: flex-end;

            .case-studies__study__msgFromClient-card {
              position: absolute;
              left: 30px;
              bottom: -30px;
              margin-right: 10px;
            }
          }
        }
      }

      .case-studies__study {
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .case-studies__study__details-card {
          padding-left: 20px;
          padding-right: 20px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;

          .content-card {
            max-width: 550px;

            .content-card__header {
              h2 {
                color: $text_primary;
                font-size: 225%;
                margin-bottom: 24px;
              }
            }

            .content-card__body {
              p {
                color: $text_tertiary;
                font-size: 100%;
              }
            }

            .content-card__footer {
              button {
                background: none;
                border: none;
                color: $btnColor;
                font-weight: bolder;
                margin-top: 40px;
                font-size: 130%;
                cursor: pointer;
              }

              button:hover,
              button:focus {
                text-decoration: underline;
              }
            }
          }
        }

        .case-studies__study__img {
          position: relative;
          width: min-content;

          & > img {
            width: 100vw;
            object-fit: cover;
          }

          .case-studies__study__msgFromClient-card {
            max-width: 453px;

            .content-card {
              box-shadow: $boxShadow;
              padding: 30px;
              align-content: flex-start;
              height: max-content;
              border-radius: 8px;
              background-color: #fff;

              .hero__content__description {
                color: $text_primary;
                font-size: 100%;
                width: 100%;
              }

              .content-card__footer > div {
                display: flex;
                margin-top: 30px;

                .content-card__footer__user-img-container {
                  margin-right: 30px;

                  img {
                    border-radius: 50%;
                    box-shadow: $imgBoxShadow;
                  }
                }

                .content-card__footer__user-details {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;

                  .content-card__footer__user-details__user-name {
                    color: $text_primary;
                    font-size: 100%;
                  }

                  .content-card__footer__user-details__user-info {
                    color: $text_secondary;
                    font-size: 87.5%; // Default: 14px
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $tablet) {
    & {
      max-width: $maxPageWidth;
      margin: auto;
    }

    & .case-studies__container {
      li {
        &:nth-child(odd) {
          .case-studies__study {
            display: flex;
            flex-direction: row-reverse;

            .case-studies__study__details-card {
              align-self: center;
            }

            .case-studies__study__img {
              display: block;
              margin-right: 60px;

              .case-studies__study__msgFromClient-card {
                right: -30px;
                bottom: -30px;
              }
            }
          }
        }

        &:nth-child(even) {
          .case-studies__study {
            display: flex;
            flex-direction: row;

            .case-studies__study__details-card {
              align-self: center;
            }

            .case-studies__study__img {
              display: block;
              margin-left: 60px;

              .case-studies__study__msgFromClient-card {
                right: -30px;
                bottom: -30px;
              }
            }
          }
        }
      }
    }

    .case-studies__study__img {
      & > img {
        width: 50vw !important;
        // object-fit: unset !important;
      }
    }

    .case-studies__study__details-card {
      max-width: $maxContentWidth;
    }
  }

  @media screen and (min-width: 1200px) {
    & .case-studies__container {
      li {
        &:nth-child(odd) {
          .case-studies__study {
            .case-studies__study__details-card {
              margin-right: calc($screenSpan / 2);
            }
          }
        }

        &:nth-child(even) {
          .case-studies__study {
            .case-studies__study__details-card {
              margin-left: calc($screenSpan / 2);
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .case-studies__study__img {
      & > img {
        width: unset !important;
        object-fit: unset !important;
      }
    }
  }
}
