/* ---------------------------------------------------------- */
/* VARIABLES */
/* ---------------------------------------------------------- */
$mobileLandscape: 580px;
$tablet: 973px;
$laptop: 1000px;
$maxContentWidth: 1108px;
$boxShadow: 0 100px 100px rgba(0, 0, 0, 0.15);
$imgBoxShadow: 10px 15px 43px rgba(0, 0, 0, 0.18);
$text_primary: #4d533c;
$text_secondary: #152934;
$text_tertiary: #21384299;
$btnColor: #edb91b;
// $btnColor: #edb91b;

.container {
  overflow-x: hidden;
}

/* ---------------------------------------------------------- */
/* MAIN CCONTENT STYLES */
/* ---------------------------------------------------------- */
.hero {
  position: relative;
}

.hero__content-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  @media screen and (min-width: $laptop) {
    & {
      max-width: 1600px;
      max-height: 1000px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.hero__content {
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & div {
    width: 100%;
  }

  @media screen and (min-width: $laptop) {
    & {
      padding: 0 60px;
      max-width: $maxContentWidth;
      margin: auto;
      justify-content: flex-start;
    }
  }
}

.hero__content__title {
  margin-bottom: 30px;
  font-size: 200%;
  max-width: 616px;
  width: 100%;

  @media screen and (min-width: $mobileLandscape) {
    & {
      font-size: 250%;
    }
  }

  @media screen and (min-width: $tablet) {
    & {
      font-size: 375%;
    }
  }

  @media screen and (min-width: $laptop) {
    & {
      font-size: 375%;
      width: 100%;
    }
  }
}
.hero__content__description {
  margin-bottom: 30px;
  font-size: 120%;
  max-width: 616px;
  width: 80%;
}

.hero__content__cta-btn {
  background: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 130%;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.hero__content__cta-btn:focus,
.hero__content__cta-btn:hover {
  text-decoration: underline;
}

.hero__client-logos {
  position: absolute;
  bottom: -11%;
  z-index: 2;
  width: 100%;
  padding-left: 20px;

  .hero__client-logos__container {
    list-style: none;
    padding-left: 0;
    display: flex;
    background-color: #fff;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
    padding: 20px;
    min-width: 100vw;
    overflow-x: scroll;
  }

  .hero__client-logos__img {
    margin-right: 30px;
  }

  @media screen and (min-width: $tablet) {
    .hero__client-logos__container {
      overflow-x: hidden;
    }
  }

  @media screen and (min-width: $laptop) {
    & {
      padding-left: 60px;
      max-width: $maxContentWidth;
      left: 50%;
      transform: translateX(-50%);
      margin: auto;
      bottom: -118px;

      .hero__client-logos__container {
        padding: 60px;
      }
    }
  }
}

.about-us {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px 100px 20px;

  .about-us__founders-msg {
    display: flex;
    justify-content: end;

    .content-card {
      box-shadow: $boxShadow;
      padding: 200px 40px 40px 40px;
      width: 80%;
      align-content: flex-start;
      height: max-content;

      .hero__content__description {
        color: $text_primary;
        font-size: 150%; // Default: 24px
        width: 100%;
      }

      .content-card__footer > div {
        display: flex;

        .content-card__footer__user-img-container {
          margin-right: 30px;

          img {
            border-radius: 50%;
            box-shadow: $imgBoxShadow;
          }
        }

        .content-card__footer__user-details {
          .content-card__footer__user-details__user-name {
            color: $text_primary;
            font-size: 137.5%; // Default: 22px
          }

          .content-card__footer__user-details__user-info {
            color: $text_secondary;
            font-size: 100%;
          }
        }
      }

      @media screen and (min-width: $tablet) {
        padding: 250px 40px 40px 40px;
      }
    }
  }

  .about-us__statement {
    display: flex;
    justify-content: flex-start;
    .content-card {
      padding: 150px 0 40px 0;

      .hero__content__title {
        color: $text_primary;
        font-size: 225%;
      }

      .hero__content__description {
        color: $text_tertiary;
        font-size: 100%;
      }

      .content-card__footer {
        button {
          background: none;
          border: none;
          color: $btnColor;
          font-weight: bolder;
          cursor: pointer;
        }

        button:hover,
        button:focus {
          text-decoration: underline;
        }
      }

      @media screen and (min-width: $tablet) {
        padding: 250px 0 40px 0;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    & {
      flex-direction: row;
      max-width: $maxContentWidth;
      margin: auto;
    }
  }

  @media screen and (min-width: $laptop) {
    & {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.case-studies {
  .case-studies__header {
    .content-card {
      padding-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;

      .case-studies__header__title {
        color: $text_primary;
        font-size: 225%; // Default: 36px
        margin-bottom: 20px;
      }

      .case-studies__header__description {
        color: $text_tertiary;
        font-size: 100%;
        max-width: 518px;
      }

      @media screen and (min-width: $tablet) {
        & {
          display: flex;
          align-items: center;
          padding-top: 100px;
          max-width: $maxContentWidth;
          margin: auto;
        }

        .case-studies__header__title {
          margin-right: 40px;

          h2 {
            width: 425px;
          }
        }
      }

      @media screen and (min-width: $laptop) {
        & {
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }
  }
}
